## <center>  Análisis exploratorio de datos con Pandas

---

Valores únicos de todas las características (para más información, consulte los enlaces anteriores):
- `age`: continuo.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuo.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuo.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuo.
- `capital-loss`: continuo.
- `hours-per-week`: continuo.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. ¿Cuántos hombres y mujeres (característica *sex*) están representados en este conjunto de datos?**

In [ ]:
# You code here

**2. ¿Cuál es la edad media (característica *age*) de las mujeres?**

In [ ]:
# You code here

**3. ¿Cuál es el porcentaje de ciudadanos alemanes (característica *native-country*)?**

In [ ]:
# You code here

**4-5. ¿Cuál es la media y la desviación típica de la edad entre los que ganan más de 50.000 al año (*salary* característica) y los que ganan menos de 50.000 al año?**

In [ ]:
# You code here

**6. ¿Es cierto que las personas que ganan más de 50.000 tienen al menos estudios secundarios? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* característica)**

In [ ]:
# You code here

**7. Mostrar estadísticas de edad para cada raza (*race* característica) y cada sexo (*sex* característica). Utilice *groupby()* y *describe()*. Encuentre la edad máxima de los hombres de raza *Amer-Indian-Eskimo*.**

In [ ]:
# You code here

**8. ¿Entre quiénes es mayor la proporción de los que ganan mucho (>50K): casados o solteros (*marital-status* característica)? Considere como casados a los que tienen un *estado civil* que empieza por *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), el resto se consideran solteros.**

In [ ]:
# You code here

**9. ¿Cuál es el número máximo de horas que una persona trabaja a la semana (*hours-per-week* característica)? ¿Cuántas personas trabajan ese número de horas y cuál es el porcentaje de las que ganan mucho (>50K) entre ellas?**

In [ ]:
# You code here

**10. Cuenta el tiempo medio de trabajo (*hours-per-week*) de los que ganan poco y mucho (*salary*) para cada país (*native-country*). ¿Cuáles serán para Japón?**

In [ ]:
# You code here