# Trabajando con Pandas, MySQL y Google BigQuery

En este ejercicio, vamos a aprender cómo interactuar con una base de datos MySQL utilizando Pandas y luego cargar los datos en Google BigQuery. Siga las instrucciones a continuación para completar el ejercicio.

## Paso 1: Instalación de paquetes

Instale los siguientes paquetes utilizando `pip`:

1. mysql-connector-python
2. google-cloud

In [3]:
!pip install mysql-connector-python
!pip install google-cloud

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp37-cp37m-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 24.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /opt/conda/lib/python3.7/site-packages (from mysql-connector-python) (3.19.6)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33
Collecting google-cloud
  Downloading google_cloud-0.34.0-py2.py3-none-any.whl (1.8 kB)
Installing collected packages: google-cloud
Successfully installed google-cloud-0.34.0

In [4]:
!pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.1/88.1 kB 6.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [16 lines of output]
      /bin/sh: 1: mysql_config: not found
      /bin/sh: 1: mariadb_config: not found
      /bin/sh: 1: mysql_config: not found
      Traceback (most recent call last):
        File "<string>", line 36, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "/var/tmp/pip-install-19rfy7j9/mysqlclient_1dd74b36859e411c81dbd791e9ba0ec3/setup.py", line 15, in <module>
          metadata, options = get_config()
        File "/var/tmp/pip-install-19rfy7j9/mysqlclient_1dd74b36859e411c81dbd791e9ba0ec3/setup_posix.py", line 70, in get_config
          libs = mysql_config("libs")
        File "/var/tmp/pip-install-19rfy7j9/mysqlclient_1dd74b36859e411c81dbd791e9ba0ec3/setup_posix.py", line 31, in mysql_config
          raise OSError("{} not found".format(_mysql_config_path))
      OSError: mysql_config not found
      mysql_config --version
      mariadb_config --version
      mysql_config --libs
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [ ]:
!pip install google-cloud-bigquery

## Paso 2: Importar paquetes necesarios

Importe los siguientes paquetes:

1. mysql
2. pandas
3. mysql.connector
4. google.cloud.bigquery
5. os

In [8]:
import mysql
import pandas as pd
import mysql.connector as connection
from google.cloud import bigquery
import os

## Paso 3: Establecer la conexión con la base de datos MySQL

Complete el siguiente código para establecer una conexión con la base de datos MySQL:


# Complete el siguiente código para establecer la conexión con la base de datos MySQL
```
mydb = mysql.connector.connect(
    host="",
    user="",
    passwd="",
    database=""
)
```

In [9]:
mydb = mysql.connector.connect(
    host="34.27.205.18",
    user="conection",
    passwd="134679",
    database="basededatos"
)

## Paso 4: Leer los datos de la base de datos MySQL utilizando Pandas

Escriba el código para leer los datos de la tabla `payments` de la base de datos MySQL utilizando Pandas y almacenarlos en un DataFrame llamado `df`. No olvide cerrar la conexión a la base de datos después de realizar la consulta.

In [11]:
sql = 'SELECT * FROM basededatos.payments'
df = pd.read_sql(sql, mydb)
mydb.close()
df.head()

   customerNumber checkNumber paymentDate    amount
0             103    HQ336336  2004-10-19   6066.78
1             103    JM555205  2003-06-05  14571.44
2             103    OM314933  2004-12-18   1676.14
3             112    BO864823  2004-12-17  14191.12
4             112     HQ55022  2003-06-06  32641.98

## Paso 5: Configurar las credenciales de Google Cloud

Agregue el archivo JSON de las credenciales de su cuenta de Google Cloud al entorno de ejecución y establezca la variable de entorno `GOOGLE_APPLICATION_CREDENTIALS` con la ruta al archivo JSON.

In [12]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'service.json'

## Paso 6: Crear un cliente de BigQuery

Escriba el código para crear un objeto cliente de BigQuery.

In [13]:
client = bigquery.Client()
# Si estas utilizando el archivo de cuenta de servicio debes crear el cliente de BigQuery de la siguiente formula
# client = bigquery.Client.from_service_account_json('service.json')

In [14]:
tabla_bq = 'sysven_payments_raw'
tabla_id = 'luminous-pier-386300.dp_dtkl_raw.sysven_payments_raw'
tabla_property = client.get_table(tabla_id)

## Paso 7: Escribir los datos del DataFrame en Google BigQuery

Escriba el código necesario para escribir los datos del DataFrame `df` en la tabla `sysven_payments_raw` en Google BigQuery. Utilice la opción "WRITE_TRUNCATE" para sobrescribir cualquier dato existente en la tabla.

In [15]:
job_configuration = bigquery.LoadJobConfig(
    schema=tabla_property.schema,
    write_disposition='WRITE_TRUNCATE'
)

In [16]:
job=client.load_table_from_dataframe(
    df,tabla_id,job_config=job_configuration
)