Importa las bibliotecas pandas y numpy.

Lee el archivo CSV 'athlete_events.csv' y asígnalo a un DataFrame llamado df.

Muestra las primeras 10 filas del DataFrame.

Filtra el DataFrame para mostrar solo las filas donde la altura es menor a 170 y la ciudad es Barcelona, o la altura es mayor a 170 y la ciudad es Londres.

Calcula cuántas filas cumplen con la condición de tener una altura menor a 170 y ser de la ciudad de Barcelona.

Muestra la forma (número de filas y columnas) del DataFrame.

Muestra los nombres de las columnas del DataFrame.

Muestra información general sobre el DataFrame, incluyendo el tipo de dato de cada columna.

Muestra estadísticas descriptivas del DataFrame.

Muestra el tipo de dato de la columna 'Age'.

Muestra el primer valor de la columna 'Age'.

Calcula cuántas filas tienen valores nulos en la columna 'Age'.

Calcula cuántas filas tienen valores no nulos en la columna 'Age'.

Crea un nuevo DataFrame llamado df2 que contenga solo las filas con valores no nulos en la columna 'Age'.

Muestra información general sobre el DataFrame df2.

Convierte el tipo de dato de la columna 'Age' en df2 a 'int64'.

Muestra información general sobre el DataFrame df2 después de la conversión de tipos de datos.

Calcula la edad promedio de las atletas femeninas.

Calcula el porcentaje de hombres y mujeres en los Juegos Olímpicos de Barcelona.

Calcula la proporción de equipos en el DataFrame.

Encuentra el deporte del atleta más pesado en los Juegos Olímpicos de 2002.

Encuentra al atleta australiano que ganó la medalla de plata en Rowing en los Juegos Olímpicos del año 2000.

Muestra un resumen de las medallas ganadas por cada equipo.

Calcula el número de atletas por equipo.

Filtra el DataFrame para mostrar solo las filas donde la medalla es de bronce y el equipo es de Estados Unidos.