In [24]:
!pip install polars

Requirement already satisfied: polars in /usr/local/lib/python3.9/site-packages (0.18.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [25]:
import polars as pl
import time
# to enrich the examples in this quickstart with dates
from datetime import datetime, timedelta 
# to generate data for the examples
import numpy as np 
import pandas as pd

In [26]:
dataframe = pl.DataFrame({"integer": [1, 2, 3], 
                          "date": [
                              (datetime(2022, 1, 1)), 
                              (datetime(2022, 1, 2)), 
                              (datetime(2022, 1, 3))
                          ], 
                          "float":[4.0, 5.0, 6.0]})

print(dataframe)

shape: (3, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2022-01-02 00:00:00 ┆ 5.0   │
│ 3       ┆ 2022-01-03 00:00:00 ┆ 6.0   │
└─────────┴─────────────────────┴───────┘

In [27]:
df_pl_customer = pl.read_csv('../data/customer', separator="|",has_header=False, new_columns=["customer_id","customer_fname","customer_lname","customer_email","customer_password","customer_street","customer_city","customer_state","customer_zipcode"])

In [28]:
df_pl_orders = pl.read_csv('../data/orders',separator='|', has_header=False, new_columns=["order_id","order_date","order_customer_id","order_status"])

In [29]:
df_pl_order_items = pl.read_csv('../data/order_items',separator='|', has_header=False, new_columns=["order_item_id","order_item_order_id","order_item_product_id","order_item_quantity","order_item_subtotal","order_item_product_price"])

In [30]:
df_pd_customer = pd.read_csv('../data/customer', sep="|",header=None, names=["customer_id","customer_fname","customer_lname","customer_email","customer_password","customer_street","customer_city","customer_state","customer_zipcode"])

In [31]:
df_pd_orders = pd.read_csv('../data/orders',sep='|', header=None, names=["order_id","order_date","order_customer_id","order_status"])

In [32]:
df_pd_order_items = pd.read_csv('../data/order_items',sep='|', header=None, names=["order_item_id","order_item_order_id","order_item_product_id","order_item_quantity","order_item_subtotal","order_item_product_price"])

In [33]:
df_pd_customer

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725
...,...,...,...,...,...,...,...,...,...
12430,12431,Mary,Rios,XXXXXXXXX,XXXXXXXXX,1221 Cinder Pines,Kaneohe,HI,96744
12431,12432,Angela,Smith,XXXXXXXXX,XXXXXXXXX,1525 Jagged Barn Highlands,Caguas,PR,725
12432,12433,Benjamin,Garcia,XXXXXXXXX,XXXXXXXXX,5459 Noble Brook Landing,Levittown,NY,11756
12433,12434,Mary,Mills,XXXXXXXXX,XXXXXXXXX,9720 Colonial Parade,Caguas,PR,725
12434,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483

In [34]:
%%time
df_pd_customer.merge(df_pd_orders, left_on='customer_id', right_on='order_customer_id', how='left').query("customer_street =='9526 Noble Embers Ridge'")

CPU times: user 11.3 ms, sys: 11.9 ms, total: 23.2 ms
Wall time: 22.1 ms

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode,order_id,order_date,order_customer_id,order_status
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,15192.0,2013-10-29 00:00:00.0,2.0,PENDING_PAYMENT
2,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,33865.0,2014-02-18 00:00:00.0,2.0,COMPLETE
3,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,57963.0,2013-08-02 00:00:00.0,2.0,ON_HOLD
4,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126,67863.0,2013-11-30 00:00:00.0,2.0,COMPLETE
35347,6353,Mary,Rogers,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Decatur,GA,30032,15215.0,2013-10-30 00:00:00.0,6353.0,COMPLETE
35348,6353,Mary,Rogers,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Decatur,GA,30032,17539.0,2013-11-11 00:00:00.0,6353.0,CLOSED
35349,6353,Mary,Rogers,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Decatur,GA,30032,22354.0,2013-12-09 00:00:00.0,6353.0,COMPLETE
35350,6353,Mary,Rogers,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Decatur,GA,30032,32652.0,2014-02-11 00:00:00.0,6353.0,PENDING_PAYMENT
35351,6353,Mary,Rogers,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Decatur,GA,30032,68525.0,2014-06-05 00:00:00.0,6353.0,COMPLETE
66164,11944,Tammy,Ferguson,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Caguas,PR,725,61747.0,2013-12-25 00:00:00.0,11944.0,PENDING

In [35]:
%%time
df_pl_customer.join(df_pl_orders, left_on="customer_id", right_on="order_customer_id", how="left").filter(pl.col("customer_street") == "9526 Noble Embers Ridge")

CPU times: user 55.1 ms, sys: 113 ms, total: 168 ms
Wall time: 15.5 ms

shape: (10, 12)
┌───────────┬────────────┬────────────┬────────────┬───┬────────────┬──────────┬──────────┬────────────┐
│ customer_ ┆ customer_f ┆ customer_l ┆ customer_e ┆ … ┆ customer_z ┆ order_id ┆ order_da ┆ order_stat │
│ id        ┆ name       ┆ name       ┆ mail       ┆   ┆ ipcode     ┆ ---      ┆ te       ┆ us         │
│ ---       ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---        ┆ i64      ┆ ---      ┆ ---        │
│ i64       ┆ str        ┆ str        ┆ str        ┆   ┆ i64        ┆          ┆ str      ┆ str        │
╞═══════════╪════════════╪════════════╪════════════╪═══╪════════════╪══════════╪══════════╪════════════╡
│ 2         ┆ Mary       ┆ Barrett    ┆ XXXXXXXXX  ┆ … ┆ 80126      ┆ 15192    ┆ 2013-10- ┆ PENDING_PA │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 29 00:00 ┆ YMENT      │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 2         ┆ Mary       ┆ Barrett    ┆ XXXXXXXXX  ┆ … ┆ 80126      ┆ 33865    ┆ 2014-02- ┆ COMPLETE   │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 18 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 2         ┆ Mary       ┆ Barrett    ┆ XXXXXXXXX  ┆ … ┆ 80126      ┆ 57963    ┆ 2013-08- ┆ ON_HOLD    │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 02 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 2         ┆ Mary       ┆ Barrett    ┆ XXXXXXXXX  ┆ … ┆ 80126      ┆ 67863    ┆ 2013-11- ┆ COMPLETE   │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 30 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ …         ┆ …          ┆ …          ┆ …          ┆ … ┆ …          ┆ …        ┆ …        ┆ …          │
│ 6353      ┆ Mary       ┆ Rogers     ┆ XXXXXXXXX  ┆ … ┆ 30032      ┆ 22354    ┆ 2013-12- ┆ COMPLETE   │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 09 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 6353      ┆ Mary       ┆ Rogers     ┆ XXXXXXXXX  ┆ … ┆ 30032      ┆ 32652    ┆ 2014-02- ┆ PENDING_PA │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 11 00:00 ┆ YMENT      │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 6353      ┆ Mary       ┆ Rogers     ┆ XXXXXXXXX  ┆ … ┆ 30032      ┆ 68525    ┆ 2014-06- ┆ COMPLETE   │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 05 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 11944     ┆ Tammy      ┆ Ferguson   ┆ XXXXXXXXX  ┆ … ┆ 725        ┆ 61747    ┆ 2013-12- ┆ PENDING    │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 25 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
└───────────┴────────────┴────────────┴────────────┴───┴────────────┴──────────┴──────────┴────────────┘

In [39]:
df = pl.DataFrame(
    data=[
        ("The Godfather", 1972, 6_000_000, 134_821_952, 9.2),
        ("The Dark Knight", 2008, 185_000_000, 533_316_061, 9.0),
        ("Schindler's List", 1993, 22_000_000, 96_067_179, 8.9),
        ("Pulp Fiction", 1994, 8_000_000, 107_930_000, 8.9),
        ("The Shawshank Redemption", 1994, 25_000_000, 28_341_469, 9.3),
    ],
    schema=["title", "release_year", "budget", "gross", "imdb_score"],
)
ctx = pl.SQLContext(films=df)

In [40]:
ctx.execute(
    '''
    SELECT title, release_year, imdb_score
    FROM films
    WHERE release_year > 1990
    ORDER BY imdb_score DESC
    ''',
    eager=True,
)

shape: (4, 3)
┌──────────────────────────┬──────────────┬────────────┐
│ title                    ┆ release_year ┆ imdb_score │
│ ---                      ┆ ---          ┆ ---        │
│ str                      ┆ i64          ┆ f64        │
╞══════════════════════════╪══════════════╪════════════╡
│ The Shawshank Redemption ┆ 1994         ┆ 9.3        │
│ The Dark Knight          ┆ 2008         ┆ 9.0        │
│ Schindler's List         ┆ 1993         ┆ 8.9        │
│ Pulp Fiction             ┆ 1994         ┆ 8.9        │
└──────────────────────────┴──────────────┴────────────┘

In [48]:
ctx.execute(
    '''
    WITH data AS (
    SELECT
        MAX(release_year / 10) * 10 AS decade,
        SUM(gross) AS total_gross,
        COUNT(title) AS n_films,
    FROM films
    GROUP BY (release_year / 10) -- decade
    )
    SELECT MAX(decade) as ROGER
    FROM data
    ''',
    eager=True,
)

shape: (1, 1)
┌───────┐
│ ROGER │
│ ---   │
│ i64   │
╞═══════╡
│ 2000  │
└───────┘

In [17]:
df = pl.DataFrame({"hello": ["world"]})
ctx = pl.SQLContext()
ctx.register("frame_data", df).execute("SELECT * FROM frame_data").collect()

shape: (1, 1)
┌───────┐
│ hello │
│ ---   │
│ str   │
╞═══════╡
│ world │
└───────┘

In [18]:
lf1 = pl.LazyFrame({"a": [1, 2, 3], "b": ["m", "n", "o"]})
lf2 = pl.LazyFrame({"a": [2, 3, 4], "c": ["p", "q", "r"]})
lf3 = pl.LazyFrame({"a": [3, 4, 5], "b": ["s", "t", "u"]})
lf4 = pl.LazyFrame({"a": [4, 5, 6], "c": ["v", "w", "x"]})

In [19]:
ctx = pl.SQLContext().register_many({"tbl1": lf1, "tbl2": lf2})

In [20]:
pl_df = ctx.execute("SELECT * FROM tbl1").collect()

In [21]:
ctx = pl.SQLContext().register_many({"customers": df_pl_customer, "orders": df_pl_orders})

In [22]:
ctx.execute("SELECT * FROM customers LEFT JOIN orders ON customer_id = order_customer_id").collect()

shape: (68_913, 12)
┌───────────┬────────────┬────────────┬────────────┬───┬────────────┬──────────┬──────────┬────────────┐
│ customer_ ┆ customer_f ┆ customer_l ┆ customer_e ┆ … ┆ customer_z ┆ order_id ┆ order_da ┆ order_stat │
│ id        ┆ name       ┆ name       ┆ mail       ┆   ┆ ipcode     ┆ ---      ┆ te       ┆ us         │
│ ---       ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---        ┆ i64      ┆ ---      ┆ ---        │
│ i64       ┆ str        ┆ str        ┆ str        ┆   ┆ i64        ┆          ┆ str      ┆ str        │
╞═══════════╪════════════╪════════════╪════════════╪═══╪════════════╪══════════╪══════════╪════════════╡
│ 1         ┆ Richard    ┆ Hernandez  ┆ XXXXXXXXX  ┆ … ┆ 78521      ┆ 22945    ┆ 2013-12- ┆ COMPLETE   │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 13 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 2         ┆ Mary       ┆ Barrett    ┆ XXXXXXXXX  ┆ … ┆ 80126      ┆ 15192    ┆ 2013-10- ┆ PENDING_PA │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 29 00:00 ┆ YMENT      │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 2         ┆ Mary       ┆ Barrett    ┆ XXXXXXXXX  ┆ … ┆ 80126      ┆ 33865    ┆ 2014-02- ┆ COMPLETE   │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 18 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 2         ┆ Mary       ┆ Barrett    ┆ XXXXXXXXX  ┆ … ┆ 80126      ┆ 57963    ┆ 2013-08- ┆ ON_HOLD    │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 02 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ …         ┆ …          ┆ …          ┆ …          ┆ … ┆ …          ┆ …        ┆ …        ┆ …          │
│ 12434     ┆ Mary       ┆ Mills      ┆ XXXXXXXXX  ┆ … ┆ 725        ┆ 51800    ┆ 2014-06- ┆ ON_HOLD    │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 14 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 12434     ┆ Mary       ┆ Mills      ┆ XXXXXXXXX  ┆ … ┆ 725        ┆ 61777    ┆ 2013-12- ┆ COMPLETE   │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 26 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 12435     ┆ Laura      ┆ Horton     ┆ XXXXXXXXX  ┆ … ┆ 29483      ┆ 41643    ┆ 2014-04- ┆ PENDING    │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 08 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
│ 12435     ┆ Laura      ┆ Horton     ┆ XXXXXXXXX  ┆ … ┆ 29483      ┆ 61629    ┆ 2013-12- ┆ CANCELED   │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ 21 00:00 ┆            │
│           ┆            ┆            ┆            ┆   ┆            ┆          ┆ :00.0    ┆            │
└───────────┴────────────┴────────────┴────────────┴───┴────────────┴──────────┴──────────┴────────────┘